@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "waves-effect.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Drawing Guides";
    src: url("../fonts/drawing-guides.ttf");
  }
  
  @font-face {
    font-family: "Milky Nice";
    src: url("../fonts/milky-nice.otf");
  }

  @font-face {
    font-family: Quicksand;
    font-weight: 300;
    src: url(../fonts/Quicksand/Quicksand-Light.ttf) ;
  }
  
  @font-face {
    font-family: Quicksand;
    font-weight: 400;
    src: url(../fonts/Quicksand/Quicksand-Regular.ttf) ;
  }
  @font-face {
    font-family: Quicksand;
    font-weight: 500;
    src: url(../fonts/Quicksand/Quicksand-Medium.ttf) ;
  }
  @font-face {
    font-family: Quicksand;
    font-weight: 600;
    src: url(../fonts/Quicksand/Quicksand-SemiBold.ttf) ;
  }
  @font-face {
    font-family: Quicksand;
    font-weight: 700;
    src: url(../fonts/Quicksand/Quicksand-Bold.ttf) ;
  }
}

@keyframes square {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

* {
  font-family: "Milky Nice";
}

body {
  background: radial-gradient(circle, rgba(61,14,30,1) 0%, #19080a 100%);
  @apply text-light;
  
}

.cell-empty {
  background: repeating-linear-gradient(
    0deg,
    rgb(31, 41, 55),
    rgb(31, 41, 55) 10px,
    rgb(35, 45, 59) 10px,
    rgb(35, 45, 59) 20px
  );
}

.cell-no-day {
  background: repeating-linear-gradient(
    -45deg,
    rgb(31, 41, 55),
    rgb(31, 41, 55) 10px,
    #000000 10px,
    #000000 20px);
}

body::-webkit-scrollbar
{
  width: 8px;
  background-color: #121212;
}
body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #535353;
}