@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "waves-effect.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Drawing Guides";
    src: url("../fonts/drawing-guides.ttf");
  }
  
  @font-face {
    font-family: "Milky Nice";
    src: url("../fonts/milky-nice.otf");
  }

  @font-face {
    font-family: Quicksand;
    font-weight: 300;
    src: url(../fonts/Quicksand/Quicksand-Light.ttf) ;
  }
  
  @font-face {
    font-family: Quicksand;
    font-weight: 400;
    src: url(../fonts/Quicksand/Quicksand-Regular.ttf) ;
  }
  @font-face {
    font-family: Quicksand;
    font-weight: 500;
    src: url(../fonts/Quicksand/Quicksand-Medium.ttf) ;
  }
  @font-face {
    font-family: Quicksand;
    font-weight: 600;
    src: url(../fonts/Quicksand/Quicksand-SemiBold.ttf) ;
  }
  @font-face {
    font-family: Quicksand;
    font-weight: 700;
    src: url(../fonts/Quicksand/Quicksand-Bold.ttf) ;
  }

}

* {
  font-family: "Milky Nice";
}

body {
  @apply text-light;
  
}

.cell-empty {
  background: repeating-linear-gradient(
    0deg,
    rgb(31, 41, 55),
    rgb(31, 41, 55) 10px,
    rgb(35, 45, 59) 10px,
    rgb(35, 45, 59) 20px
  );
}

.cell-no-day {
  background: repeating-linear-gradient(
    -45deg,
    rgb(31, 41, 55),
    rgb(31, 41, 55) 10px,
    #000000 10px,
    #000000 20px);
}

body{
  background: radial-gradient(circle, rgba(61,14,30,1) 0%, rgba(25,8,10,1) 100%)
}

.squares li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.squares li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.squares li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.squares li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.squares li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.squares li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.squares li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.squares li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.squares li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.squares li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.squares li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}