@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Quicksand-Book";
    src: url("../fonts/quicksand_book.otf");
  }

  @font-face {
    font-family: "Extreme";
    src: url("../fonts/extreme.ttf");
  }
}

body {
  @apply bg-gray-300 dark:bg-gray-700;
}
